/TurmaSegundona/dist/
/ExemploAulaSexta/nbproject/private/
/ExemploAulaSexta/build/
/AlgoritmosTeoriaPratica/nbproject/private/
/AlgoritmosTeoriaPratica/build/
/LogicaDeProgramacaoEEstruturaDeDados/nbproject/private/
/LogicaDeProgramacaoEEstruturaDeDados/build/
/JavaApplication106/nbproject/private/
/JavaApplication106/build/
/PooTercaNoite/nbproject/private/
/PooTercaNoite/build/
