li {
    list-style: none;
    display: inline-block;
    align-content: space-between;
}
#p1 {
    text-decoration: line-through;
    text-transform: full-size-kana;
    line-height: 20px;
}

#p2 {
    font-style: normal;
    font-weight: bold;
    font-size: large;
    font-family: 'Bricolage Grotesque', sans-serif;;
}

img {
    float: left;
    width: 50%;
    height: 50%;
}
footer {
    clear: both;
    text-align: center;
}